$primary-color: #1976d2;
$primary-light: #63a4ff;
$primary-dark: #004ba0;

$bg: black;
$font-stack: 'Helvetica, sans-serif';

h1 {
  color: $primary-color;
}

h2 {
  color: $primary-color;
}

.layout {
  display: 'flex';
  flex-direction: 'column';
  width: '10%';
}